.page404 {
  min-height: 520px;
  width: 100%;
  background-color: #f1f1f1;
  color: #FFFFFF; }
  .page404 .heading {
    font-weight: 200;
    font-size: 53px;
    color: #282780;
    text-align: center;
    padding-top: 114px; }
  .page404 .subHeading {
    text-align: center;
    font-size: 16px;
    padding-top: 3px;
    color: #002d5c;
    font-weight: bolder; }
  .page404 .paragraph {
    font-size: 14px;
    color: #434343;
    text-align: center;
    margin-top: -5px; }
    .page404 .paragraph a {
      color: #434343;
      text-decoration: underline;
      font-weight: bold; }

/*# sourceMappingURL=404.css.map */
