// Social media mixin
@mixin social($max-width: 100%, $size: 40px, $margin: 0 30px 0 0, $bg-color: #d5d5d5, $font-size: 24px) {
    .social {
        float: left;
        max-width: $max-width;
        margin-top: 12px;
        margin-left: 15px;

        @include media-breakpoint-up(md) {
            margin: 0;
        }

        a {
            > div {
                width: $size;
                height: $size;
                margin: $margin;
                float: left;
                border-radius: 50%;
                position: relative;
                background: $bg-color;

                i {
                    position: absolute;
                    line-height: $size;
                    width: $size;
                    text-align: center;
                    font-size: $font-size;
                    color: #fff;
                }

            }
            :last-child {
                > div {
                    margin-right: 0;
                }
            }
            &:last-child {
                > div {
                    margin-right: 0;
                }
            }
        }
    }
}

// Separator mixin

@mixin separator() {
    .separator {
        clear: both;
        margin-bottom: 40px;

        span {
            height: 1px;
            background-color: #000;
            display: block;
            max-width: 40px;
        }
    }
}

// Background filter to make it darker

@mixin filter($r:40, $g:40, $b:40, $a:0.25) {
    .filter {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($r, $g, $b, $a);
    }
}