// FOOTER STYLESHEET

footer {
  color: #fff;
  background-color: #232223;
  height: 250px;
  padding-top: 15px;
  text-align: center;

  .back {
    padding-bottom: 50px;

    .angle-up-wrapper {
      width: 100%;
      i {
        font-size: 45px;
        border: 2px solid transparent;
        padding: 0 5px 5px 5px;
        line-height: 30px;
        cursor: pointer;
        -webkit-transition: border-color .4s;
        -moz-transition: border-color .4s;
        -ms-transition: border-color .4s;
        -o-transition: border-color .4s;
        transition: border-color .4s;

        &:hover {
          border-color: #fff;
        }

      }
    }

    span {
      font-size: 17px;
      letter-spacing: 1.7px;
    }
  }

  .copyright {
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #A0A09F;

  }
}