footer {
  color: #fff;
  background-color: #232223;
  height: 250px;
  padding-top: 15px;
  text-align: center; }
  footer .back {
    padding-bottom: 50px; }
    footer .back .angle-up-wrapper {
      width: 100%; }
      footer .back .angle-up-wrapper i {
        font-size: 45px;
        border: 2px solid transparent;
        padding: 0 5px 5px 5px;
        line-height: 30px;
        cursor: pointer;
        -webkit-transition: border-color .4s;
        -moz-transition: border-color .4s;
        -ms-transition: border-color .4s;
        -o-transition: border-color .4s;
        transition: border-color .4s; }
        footer .back .angle-up-wrapper i:hover {
          border-color: #fff; }
    footer .back span {
      font-size: 17px;
      letter-spacing: 1.7px; }
  footer .copyright {
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #A0A09F; }

/*# sourceMappingURL=footer.css.map */
