/** Import all custom mixins **/
.galeria-template-default .featured-image {
  height: 350px;
  padding-top: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: difference;
  background-color: rgba(158, 158, 158, 0.36);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }
  @media (min-width: 576px) {
    .galeria-template-default .featured-image {
      height: 420px; } }
  @media (min-width: 768px) {
    .galeria-template-default .featured-image {
      height: 500px; } }
  @media (min-width: 992px) {
    .galeria-template-default .featured-image {
      height: 600px; } }
.galeria-template-default .gallery .gallery-item {
  margin: 0 !important;
  width: 100% !important; }
  @media (min-width: 992px) {
    .galeria-template-default .gallery .gallery-item {
      width: 33.333% !important; } }
  .galeria-template-default .gallery .gallery-item img {
    border: none !important;
    min-width: 100%;
    height: auto; }

/*# sourceMappingURL=galeria.css.map */
