@import '_variables.scss';

.galeria-template-default {
    .featured-image {
        height: 350px;
        padding-top: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-blend-mode: difference;
        background-color: rgba(158, 158, 158, 0.36);
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;

        @include media-breakpoint-up(sm) {
            height: 420px;
        }

        @include media-breakpoint-up(md) {
            height: 500px;
        }

        @include media-breakpoint-up(lg) {
            height: 600px;
        }
    }

    .gallery {

        .gallery-item {
            margin: 0 !important;
            width: 100% !important;

            @include media-breakpoint-up(lg) {
                width: 33.333% !important;
            }


            img {
                border: none !important;
                min-width: 100%;
                height: auto;
            }
        }
    }
}