@import '_variables.scss';

header {
    position: fixed;
    width: 100%;
    height: 63px;
    right: 0;
    background-color: #fff;
    z-index: 11;
    transition: right .4s;

    // Mobile social media. Second is in home.scss
    @include social;

    .logo {
        float: left;

        a {
            img {
                max-height: 100px;
            }
        }
    }

    .desktop-nav {
        position: absolute;
        right: -230px;
        width: 230px;
        padding-top: 10px;
        height: 100vh;
        background-color: #fff;

        @include media-breakpoint-up(md) {
            position: relative;
            right: 0;
            width: 100%;
            height: auto;
            text-align: center;
        }

        &.mobile {
            -webkit-box-shadow: -10px 0px 17px 0px rgba(213, 213, 213, 0.75);
            -moz-box-shadow: -10px 0px 17px 0px rgba(213, 213, 213, 0.75);
            box-shadow: -10px 0px 17px 0px rgba(213, 213, 213, 0.75);
        }

        .menu-wrapper {


            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;

                li.menu-item {
                    text-align: center;

                    @include media-breakpoint-up(md) {
                        display: inline;
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 13px;
                        padding: 5px;
                        margin: 5px;
                        min-width: 160px;
                        display: inline-block;
                        text-align: center;
                        border: 2px solid transparent;
                        -webkit-transition: all .4s;
                        -moz-transition: all .4s;
                        -ms-transition: all .4s;
                        -o-transition: all .4s;
                        transition: all .4s;

                        @include media-breakpoint-up(md) {
                            margin: 0;
                            min-width: 100px;
                        }
                    }

                    &.current-menu-item, &:hover {
                        a {
                            border: 2px solid #d5d5d5;

                            @include media-breakpoint-up(md) {
                                border-color: #000;
                            }
                        }
                    }

                    &.menu-item-type-custom.current-menu-item, &.menu-item-type-custom:hover {
                        a {
                            border-bottom: 4px solid #d5d5d5;

                            @include media-breakpoint-up(md) {
                                border-color: #000;
                            }
                        }
                    }
                }

                .sub-menu {
                    display: none;
                }
            }
        }
    }

    .hamburger {
        float: right;
        margin-right: 20px;
        margin-top: 5px;

        &:focus {
            outline: 0;
        }

        .hamburger-inner {
            background-color: #d5d5d5;

            &:before,
            &:after {
                background-color: #d5d5d5;
            }
        }
    }

    &.mobile-menu-active {
        right: 230px;

    }
}