/** Import all custom mixins **/
header {
  position: fixed;
  width: 100%;
  height: 63px;
  right: 0;
  background-color: #fff;
  z-index: 11;
  transition: right .4s; }
  header .social {
    float: left;
    max-width: 100%;
    margin-top: 12px;
    margin-left: 15px; }
    @media (min-width: 768px) {
      header .social {
        margin: 0; } }
    header .social a > div {
      width: 40px;
      height: 40px;
      margin: 0 30px 0 0;
      float: left;
      border-radius: 50%;
      position: relative;
      background: #d5d5d5; }
      header .social a > div i {
        position: absolute;
        line-height: 40px;
        width: 40px;
        text-align: center;
        font-size: 24px;
        color: #fff; }
    header .social a :last-child > div {
      margin-right: 0; }
    header .social a:last-child > div {
      margin-right: 0; }
  header .logo {
    float: left; }
    header .logo a img {
      max-height: 100px; }
  header .desktop-nav {
    position: absolute;
    right: -230px;
    width: 230px;
    padding-top: 10px;
    height: 100vh;
    background-color: #fff; }
    @media (min-width: 768px) {
      header .desktop-nav {
        position: relative;
        right: 0;
        width: 100%;
        height: auto;
        text-align: center; } }
    header .desktop-nav.mobile {
      -webkit-box-shadow: -10px 0px 17px 0px rgba(213, 213, 213, 0.75);
      -moz-box-shadow: -10px 0px 17px 0px rgba(213, 213, 213, 0.75);
      box-shadow: -10px 0px 17px 0px rgba(213, 213, 213, 0.75); }
    header .desktop-nav .menu-wrapper ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      header .desktop-nav .menu-wrapper ul li.menu-item {
        text-align: center; }
        @media (min-width: 768px) {
          header .desktop-nav .menu-wrapper ul li.menu-item {
            display: inline; } }
        header .desktop-nav .menu-wrapper ul li.menu-item a {
          color: #000;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
          padding: 5px;
          margin: 5px;
          min-width: 160px;
          display: inline-block;
          text-align: center;
          border: 2px solid transparent;
          -webkit-transition: all .4s;
          -moz-transition: all .4s;
          -ms-transition: all .4s;
          -o-transition: all .4s;
          transition: all .4s; }
          @media (min-width: 768px) {
            header .desktop-nav .menu-wrapper ul li.menu-item a {
              margin: 0;
              min-width: 100px; } }
        header .desktop-nav .menu-wrapper ul li.menu-item.current-menu-item a, header .desktop-nav .menu-wrapper ul li.menu-item:hover a {
          border: 2px solid #d5d5d5; }
          @media (min-width: 768px) {
            header .desktop-nav .menu-wrapper ul li.menu-item.current-menu-item a, header .desktop-nav .menu-wrapper ul li.menu-item:hover a {
              border-color: #000; } }
        header .desktop-nav .menu-wrapper ul li.menu-item.menu-item-type-custom.current-menu-item a, header .desktop-nav .menu-wrapper ul li.menu-item.menu-item-type-custom:hover a {
          border-bottom: 4px solid #d5d5d5; }
          @media (min-width: 768px) {
            header .desktop-nav .menu-wrapper ul li.menu-item.menu-item-type-custom.current-menu-item a, header .desktop-nav .menu-wrapper ul li.menu-item.menu-item-type-custom:hover a {
              border-color: #000; } }
      header .desktop-nav .menu-wrapper ul .sub-menu {
        display: none; }
  header .hamburger {
    float: right;
    margin-right: 20px;
    margin-top: 5px; }
    header .hamburger:focus {
      outline: 0; }
    header .hamburger .hamburger-inner {
      background-color: #d5d5d5; }
      header .hamburger .hamburger-inner:before, header .hamburger .hamburger-inner:after {
        background-color: #d5d5d5; }
  header.mobile-menu-active {
    right: 230px; }

/*# sourceMappingURL=header.css.map */
