/** Import all custom mixins **/
body.home .vertical {
  position: fixed;
  left: 20px;
  top: calc(50vh - (160px / 2));
  z-index: 2; }
  body.home .vertical .social {
    float: left;
    max-width: 40px;
    margin-top: 12px;
    margin-left: 15px; }
    @media (min-width: 768px) {
      body.home .vertical .social {
        margin: 0; } }
    body.home .vertical .social a > div {
      width: 40px;
      height: 40px;
      margin: 0 0 10px 0;
      float: left;
      border-radius: 50%;
      position: relative;
      background: #d5d5d5; }
      body.home .vertical .social a > div i {
        position: absolute;
        line-height: 40px;
        width: 40px;
        text-align: center;
        font-size: 24px;
        color: #fff; }
    body.home .vertical .social a :last-child > div {
      margin-right: 0; }
    body.home .vertical .social a:last-child > div {
      margin-right: 0; }

/*# sourceMappingURL=home.css.map */
