@import '_variables.scss';

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color: #fff;

    .modules {
        padding-top: 63px;
    }
}

img {
    max-width: 100%;
    float: left;
    height: 400px;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', serif;
    color: #000;
}

h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
    color: #fff;
}

h1 {

}

h2 {

}

h3 {
    font-size: 34px;
    padding: 30px;

    @include media-breakpoint-up(md) {
        font-size: 60px;
    }

}

h4 {

    font-size: 30px;

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }

}

h5 {

}

h6 {

}

p {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    margin-bottom: 13px;
}