@import '../variables';

#about {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    color: #000;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    //.image-wrapper {
        padding: 15px;

        @include media-breakpoint-up(md) {
            padding: 0;
        }
        .part.image {
            background-image: url(/wp-content/uploads/2017/01/1912314_835567463147651_8522711183255410505_n.jpg);
            background-size: cover;
            background-position: 50%;

        }
    //}

    .part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        min-height: 500px;

        @include media-breakpoint-up(md) {
            padding: 15px 75px;
        }

        &.about {
            .table {
                .table-cell {
                    height: 400px;

                    @include media-breakpoint-up(md) {
                        height: 600px;
                    }

                    h4 {
                        margin-bottom: 40px;
                    }
                }
            }

        }

        @include separator();
    }
}