/** Import all custom mixins **/
#about {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  color: #000;
  padding: 15px; }
  @media (min-width: 768px) {
    #about {
      padding: 0; } }
  @media (min-width: 768px) {
    #about {
      padding: 0; } }
  #about .part.image {
    background-image: url(/wp-content/uploads/2017/01/1912314_835567463147651_8522711183255410505_n.jpg);
    background-size: cover;
    background-position: 50%; }
  #about .part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    min-height: 500px; }
    @media (min-width: 768px) {
      #about .part {
        padding: 15px 75px; } }
    #about .part.about .table .table-cell {
      height: 400px; }
      @media (min-width: 768px) {
        #about .part.about .table .table-cell {
          height: 600px; } }
      #about .part.about .table .table-cell h4 {
        margin-bottom: 40px; }
    #about .part .separator {
      clear: both;
      margin-bottom: 40px; }
      #about .part .separator span {
        height: 1px;
        background-color: #000;
        display: block;
        max-width: 40px; }

/*# sourceMappingURL=about.css.map */
