@import '../variables';

#contact {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    color: #000;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    //.image-wrapper {
        padding: 15px;

        @include media-breakpoint-up(md) {
            padding: 0;
        }
        .part.image {
            background-image: url(/wp-content/uploads/2016/09/Fb-3206.jpg);
            background-size: cover;
            background-position: 50%;

            //@include media-breakpoint-down(sm) {
            //    margin-top: 140px;
            //}
        }
    //}

    .part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        min-height: 400px;

        @include media-breakpoint-up(md) {
            //min-height: 600px;
            padding: 15px 75px;
        }

        &.text {
            .table {
                .table-cell {
                    height: 400px;

                    @include media-breakpoint-up(md) {
                        height: 600px;
                    }

                    .wrapper {

                        h4 {
                            color: #2F2E2E;
                            margin-bottom: 40px;
                            letter-spacing: 4px;
                        }

                        p {
                            color: #605E5E;
                        }
                    }
                }
            }

            .contact-form {
                textarea, input {
                    border: 1px solid #d5d5d5;
                    padding: 5px;
                    width: 100%;
                    resize: none;

                    &:focus {
                        outline: none;
                    }
                }

                input[type="submit"] {
                    background-color: #2F2E2E;
                    color: #fff;
                    font-size: 17px;
                    width: 65px;
                    padding: 8px;
                    float: right;
                }

                .wpcf7-form {
                    position: relative;

                    .wpcf7-response-output {
                        float: left;
                        position: absolute;
                        bottom: -18px;
                        left: 0;
                        margin: 0;
                    }
                }
            }
        }

        @include separator();
    }
}