/** Import all custom mixins **/
#contact {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  color: #000;
  padding: 15px; }
  @media (min-width: 768px) {
    #contact {
      padding: 0; } }
  @media (min-width: 768px) {
    #contact {
      padding: 0; } }
  #contact .part.image {
    background-image: url(/wp-content/uploads/2016/09/Fb-3206.jpg);
    background-size: cover;
    background-position: 50%; }
  #contact .part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    min-height: 400px; }
    @media (min-width: 768px) {
      #contact .part {
        padding: 15px 75px; } }
    #contact .part.text .table .table-cell {
      height: 400px; }
      @media (min-width: 768px) {
        #contact .part.text .table .table-cell {
          height: 600px; } }
      #contact .part.text .table .table-cell .wrapper h4 {
        color: #2F2E2E;
        margin-bottom: 40px;
        letter-spacing: 4px; }
      #contact .part.text .table .table-cell .wrapper p {
        color: #605E5E; }
    #contact .part.text .contact-form textarea, #contact .part.text .contact-form input {
      border: 1px solid #d5d5d5;
      padding: 5px;
      width: 100%;
      resize: none; }
      #contact .part.text .contact-form textarea:focus, #contact .part.text .contact-form input:focus {
        outline: none; }
    #contact .part.text .contact-form input[type="submit"] {
      background-color: #2F2E2E;
      color: #fff;
      font-size: 17px;
      width: 65px;
      padding: 8px;
      float: right; }
    #contact .part.text .contact-form .wpcf7-form {
      position: relative; }
      #contact .part.text .contact-form .wpcf7-form .wpcf7-response-output {
        float: left;
        position: absolute;
        bottom: -18px;
        left: 0;
        margin: 0; }
    #contact .part .separator {
      clear: both;
      margin-bottom: 40px; }
      #contact .part .separator span {
        height: 1px;
        background-color: #000;
        display: block;
        max-width: 40px; }

/*# sourceMappingURL=contact.css.map */
