@import '../variables';

#gallery {
    .single {
        min-height: 400px;

        @include media-breakpoint-up(md) {
            height: 33vh;
        }
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: hsla(0, 0%, 62%, 0.45);

        &:hover {
            background-blend-mode: unset !important;
        }

        p {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 30px;
            color: #fff;
            opacity: 0;
            -webkit-transition: opacity .4s;
            -moz-transition: opacity .4s;
            -ms-transition: opacity .4s;
            -o-transition: opacity .4s;
            transition: opacity .4s;
            font-style: italic;
            font-family: EB Garamond;

            @at-root #gallery .single:hover {
                p {
                    opacity: 1;
                }
            }
        }
    }
}