/** Import all custom mixins **/
#gallery .single {
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(158, 158, 158, 0.45); }
  @media (min-width: 768px) {
    #gallery .single {
      height: 33vh; } }
  #gallery .single:hover {
    background-blend-mode: unset !important; }
  #gallery .single p {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    font-style: italic;
    font-family: EB Garamond; }
    #gallery .single:hover p {
      opacity: 1; }

/*# sourceMappingURL=gallery.css.map */
