@import '../variables';

.offer {
    .row {
        align-items: center;
        justify-content: center;

        h3 {

        }

        .text {
            color: #000;
            padding: 15px 30px;

            @include media-breakpoint-up(md) {
                padding: 0 75px;
            }

            ul {
                li {
                    color: #000;
                }
            }

            &.featured {
                text-align: center;
                padding: 30px 30px;

                @include media-breakpoint-up(md) {
                    padding: 30px 75px;
                }

                ul {
                    padding-left: 0;
                    li {
                        list-style: none;
                    }
                }
            }
        }

        .image {
            object-position: 0 0;

            @include media-breakpoint-up(md) {
                height: calc(100vh - 63px);
            }
        }
    }
}