/** Import all custom mixins **/
.offer .row {
  align-items: center;
  justify-content: center; }
  .offer .row .text {
    color: #000;
    padding: 15px 30px; }
    @media (min-width: 768px) {
      .offer .row .text {
        padding: 0 75px; } }
    .offer .row .text ul li {
      color: #000; }
    .offer .row .text.featured {
      text-align: center;
      padding: 30px 30px; }
      @media (min-width: 768px) {
        .offer .row .text.featured {
          padding: 30px 75px; } }
      .offer .row .text.featured ul {
        padding-left: 0; }
        .offer .row .text.featured ul li {
          list-style: none; }
  .offer .row .image {
    object-position: 0 0; }
    @media (min-width: 768px) {
      .offer .row .image {
        height: calc(100vh - 63px); } }

/*# sourceMappingURL=offer.css.map */
