/** Import all custom mixins **/
#partners {
  color: #000;
  padding: 15px; }
  @media (min-width: 768px) {
    #partners {
      padding: 0; } }
  #partners .text {
    min-height: 200px; }
    @media (min-width: 768px) {
      #partners .text {
        padding: 15px 75px; } }
  #partners img {
    object-fit: contain; }
    @media (min-width: 576px) {
      #partners img {
        max-width: 70%;
        float: right; } }
  #partners .text {
    font-size: 13px;
    align-items: center;
    justify-content: center;
    display: flex; }

/*# sourceMappingURL=partners.css.map */
