@import '../variables';

#partners {
    color: #000;
    padding: 15px;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    .text {
        min-height: 200px;

        @include media-breakpoint-up(md) {
            padding: 15px 75px;
        }
    }

    img {
        object-fit: contain;

        @include media-breakpoint-up(sm) {
            max-width: 70%;
            float: right;
        }
    }

    .text {
        font-size: 13px;
        align-items: center;
        justify-content: center;
        display: flex;

    }
}