/** Import all custom mixins **/
#quotation {
  position: relative;
  min-height: 800px;
  background-attachment: fixed;
  background-size: cover; }
  #quotation .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(40, 40, 40, 0.25); }
  #quotation .quote {
    position: absolute;
    bottom: 50px;
    padding: 0 30px; }
    @media (min-width: 768px) {
      #quotation .quote {
        padding: 0 75px; } }
    #quotation .quote h4 {
      font-size: 45px;
      letter-spacing: 4.5px;
      max-width: 530px;
      line-height: 1.3; }

/*# sourceMappingURL=quotation.css.map */
