@import '../variables';

#quotation {
    position: relative;
    min-height: 800px;
    //background-image: url(/wp-content/uploads/2016/09/Fb-4259.jpg);
    background-attachment: fixed;
    background-size: cover;

    @include filter();

    .quote {
        position: absolute;
        bottom: 50px;
        padding: 0 30px;

        @include media-breakpoint-up(md) {
            padding: 0 75px;
        }

        h4 {
            font-size: 45px;
            letter-spacing: 4.5px;
            max-width: 530px;
            line-height: 1.3;

        }
    }
}