/** Import all custom mixins **/
#top-banner {
  position: relative;
  color: #fff;
  min-height: 370px;
  background-image: url(/wp-content/uploads/2016/01/DSC_3331.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-size 4s;
  -moz-transition: background-size 4s;
  -ms-transition: background-size 4s;
  -o-transition: background-size 4s;
  transition: background-size 4s; }
  @media (min-width: 768px) {
    #top-banner {
      min-height: 400px;
      background-size: 100%;
      background-position: 50% 50%; }
      #top-banner:hover {
        background-size: 120%; } }
  @media (min-width: 768px) and (min-width: 992px) {
    #top-banner {
      min-height: 550px; } }

  #top-banner .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(40, 40, 40, 0.25); }
  #top-banner .content {
    font-family: 'EB Garamond', serif;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    #top-banner .content .what {
      font-size: 25px;
      position: relative; }
      #top-banner .content .what span:before, #top-banner .content .what span:after {
        content: '';
        position: absolute;
        border: 1px solid #fff;
        width: 20px;
        top: 10px; }
      #top-banner .content .what span:before {
        left: -30px; }
      #top-banner .content .what span:after {
        right: -30px; }
    #top-banner .content .logo {
      background-image: url("../../../../images/logo.png");
      margin: 0 auto;
      height: 100px;
      width: 160px;
      background-size: contain;
      background-repeat: no-repeat; }

/*# sourceMappingURL=top-banner.css.map */
