@import '../variables';

#top-banner {
    position: relative;
    color: #fff;
    min-height: 370px;
    background-image: url(/wp-content/uploads/2016/01/DSC_3331.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-size 4s;
    -moz-transition: background-size 4s;
    -ms-transition: background-size 4s;
    -o-transition: background-size 4s;
    transition: background-size 4s;

    @include media-breakpoint-up(md) {
        min-height: 400px;
        background-size: 100%;
        background-position: 50% 50%;

        &:hover {
            background-size: 120%;
        }

        @include media-breakpoint-up(lg) {
            min-height: 550px;
        }
    }

    @include filter();

    .content {
        font-family: 'EB Garamond', serif;
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .by {

        }

        .what {
            font-size: 25px;
            position: relative;

            span {
                &:before, &:after {
                    content: '';
                    position: absolute;
                    border: 1px solid #fff;
                    width: 20px;
                    top: 10px;
                }

                &:before {
                    left: -30px;
                }

                &:after {
                    right: -30px;
                }
            }

        }

        .logo {
            background-image: url("../../../../images/logo.png");
            margin: 0 auto;
            height: 100px;
            width: 160px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}